/* Estilo general para el header */

header {
    background: linear-gradient(90deg, #ff9933, #ffc300);
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #ff9933;
}

/* Estilo para el enlace del logo */

.logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.logo a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logo a:hover span {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilo del logo */

.logo {
    display: flex;
    align-items: center;
    font-family: 'Vegur', sans-serif;
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
}

.logo img {
    max-height: 50px;
    margin-right: 10px;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo general del menú */

.menu {
    background-color: #ff6600;
    width: 15vh;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    margin-right: 5%;
}

.menu-dos {
    background-color: #ff6600;
    width: 12vh;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    margin-left: 0;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-family: 'Vegur', sans-serif;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #6ec1e4;
    width: 100px;
    align-items: center;
}

.menu-dos a {
    text-decoration: none;
    color: #000000;
    font-family: 'Vegur', sans-serif;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
}

.menu-dos a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #6ec1e4;
    align-items: center;
    width: 100px;
}

/* General */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

.main {
    text-align: center;

}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    
}

.hero {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}

.hero-content {
    height: auto;
    width: 100%;
}

.container-colors {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14pt;
}

.row {
    align-items: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    margin: 80px;
    border: 30px;
    padding: 30px;
    text-align: center;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.row-1 {
    align-items: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    margin: 80px;
    border: 30px;
    padding: 30px;
    text-align: center;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}


.servicios-image {
    width: 70%; 
    float: right;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-height: 40vh; 
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
}

/* Columna Izquierda: Filtros */
.filters {
    width: 25%;
    background: #F4F4F4;
    padding: 20px;
    border-bottom: 5px solid #ddd;
    box-sizing: border-box;
}

.filters h2 {
    margin-bottom: 20px;
    color: #333;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters li {
    margin-bottom: 10px;
}

.filters button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.filters button:hover {
    background-color: #0056b3;
}

/* Columna Derecha: Galería */
.product-gallery {
    height: auto;
    width: 60%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.product-card {
    height: 20vh;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1em;
    color: #333;
    margin: 0;
}

.products {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    MIN-height: 60vh; 
    gap: 15px;
    color: #5e5e5e;
    font-size: 9pt;
}
.product {
    border: 1px solid #ddd;
    height: 34vh;  
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: 25vh;
    border-radius: 5px;
}


.product-image {
    height: 100vh;
}

.hero-image {
    height: 80vh;
    width: 40%;
    float: left;
}

.home-text {
    text-align: center;
    
}

.hero-img {
    height: 80%;
    width: 80%;
}

.hero-img img {
    height: 100%;
    width: 100%;
}

.product-description {
    font-size: large;
    height: 80vh;
    width: 60%;
    float: right;
}

.price {
    font-size: 26pt;
    text-align: center;
}

.product-name {
    font-size: large;
    float: left;
}

.product h3 {
    margin: 10px 0;
}

.cotizar-name {
    float: center;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {

    .container {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .filters {
        width: 80%;
        order: 1;
    }

    .hero {
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    .hero-image {
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-img {
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-content {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .product-description {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-left: 20%;
        font-size: medium;
    }

    .servicios-image {
        height: auto;
        min-height: 55vh;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .container-colors {
        width: 100%;
    }
    
    .cotizar-name {
        text-align: center;
        width: 100%;
    }

    
    .products {
        height: auto;
        width: 100%;
        order: 1;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }


    .filters button {
        font-size: 14px;
        padding: 10px;
    }

    .product {
        padding: 8px;
        height: 40vh;

    }

    .product h3 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .filters button {
                        
        font-size: 12px;
        padding: 6px;
        width: 100%;
    }

    .product h3 {
        font-size: 14px;
    }
}

/* Estilos del Footer */

.footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.footer-logo img {
    max-height: 100px;
    align: center;
}

.footer-info {
    text-align: center;
    padding: 10px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-info a {
    color: #6ec1e4;
    text-decoration: none;
}
.footer-info a:hover {
    text-decoration: underline;
}

.contact-footer {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #333;
}
.contact-footer button {
    background-color: #25D366;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.contact-footer img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* Consultas para dispositivos móviles */
@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 14vh;
        float: right;
        margin-left: 70%;
    }

    .menu-dos {
        width: 14vh;
        float: right;
        margin-left: 70%;
    }


    .logo {
        font-size: 1.2em;
    }

    .filters {
        width: 100%; 
        border-bottom: 2px solid #ddd;
    }

    .filters button {
        font-size: 1em;
        padding: 8px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
    .contact-footer {
        display: block;
        text-align: center;
        padding: 20px;
        background-color: #333;
    }
    .contact-footer button {
        background-color: #25D366;
        color: white;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
    .contact-footer img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
}
